<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../assets/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../assets/style.css">
  <!-- Add this androidjs.js file to your html file to get the functionality of android js -->
  <script type="text/javascript" src = "../assets/androidjs.js"></script>
  <script type="text/javascript" src = "../assets/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      
      <div class="col">
        <label for="product-image">Product Image:</label>
      </div>

      <div class="col">
        <video id="product-image" autoplay></video>
        <img id="product-preview" style="display:none;" autoplay></img>
      </div>

    </div>

    <div class="row">

      <div class="col">
        <label for="product-name">Product Name:</label>
      </div>
      <div class="col">
        <input type="text" id="product-name" name="product-name">
      </div>

    </div>

    <div class="row">
    
      <div class="col">
        <label for="product-description">Product Description:</label>
      </div>
      <div class="col">
        <input type="text" id="product-description" name="product-description">
      </div>

    </div>

    <div class="row">

      <div class="col">
        <button style="display:none;" id="process-product" type="button">Process Item!</button>
      </div>

    </div>
  </div>
</body>  
</html>

<script>
  window.onload = function(){
    app.camera.getDevices(function(devices){
      webcam = devices[1]
      app.camera.init(document.getElementById("product-image"), {video: {deviceId: {exact: webcam}}, audio: false})
    })
  }

  document.getElementById("product-image").onclick = function(){
      app.camera.takePhoto(document.getElementById("product-image"), document.getElementById("product-preview"));
      document.getElementById("product-image").style.display = "none"
      document.getElementById("process-product").style.display = "block"
      document.getElementById("product-preview").style.display = "block"
  }

  document.getElementById("process-product").onclick = function(){
    fetch('https://10.0.1.107:5001/process/', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Basic'
        },
          body: JSON.stringify({ "id": 78912 })
        })
        .then(response => response.json())
        .then(response => console.log(JSON.stringify(response)))
      }
</script>