<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap-grid.min.css">
  <!-- Add this androidjs.js file to your html file to get the functionality of android js -->
  <script type="text/javascript" src = "../assets/androidjs.js"></script>
  <script type="text/javascript" src = "../assets/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      
      <div class="col">
        Product Image:
      </div>

      <div class="col">
        <input type="file" name="file" accept="image/*" capture="camera" />
      </div>

    </div>

    <div class="row">

      <div class="col">
        <label for="product-name">Product Name:</label>
      </div>
      <div class="col">
        <input type="text" id="product-name" name="product-name">
      </div>

    </div>

    <div class="row">
    
      <div class="col">
        <label for="product-description">Product Description:</label>
      </div>
      <div class="col">
        <input type="text" id="product-description" name="product-description">
      </div>

    </div>

    <div class="row">

      <div class="col">
        <button type="button">Process Item!</button>
      </div>

    </div>
  </div>
</body>  
</html>